body{
  background-color: rgb(0, 0, 0);
  
}

.navbar {
  margin-bottom: 0;

  background-color: #000000;
  /*background-color: transparent;*/
  background: rgba(0,0,0,0.4);
  
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 3 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  
}

/* 
.navbar.scrolled {
  background-color: #000000; /* Set the desired background color when scrolled 
}

NOT working
  */

.kk
{
padding-top: 00px;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}


.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #525252 !important;
  background-color: #fff !important;
}

/*
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
*/.navbar-nav > li:hover > .dropdown-menu {
  display: block;
  color: #a7a7a7;
  min-width: 16px;
  padding: 10px 10px 8px 10px; /* Adjust padding values */
  margin: 2px -10px 0; /* Adjust margin values */
  font-size: 16px;
  text-align: left;
  list-style: none;
  background-color: #000;
}

.dropdown-menu > li > a{
  display: block;
    padding: 17px 18px 15px 10px;
    margin-block: initial;
    font-weight: 300;
    line-height: 1.4;
}



#myCarousel {
  height: 510px; /* Set the desired height for the carousel */
}

.carousel-inner {
  height: 100%; /* Make sure the carousel takes the full height */
}

.carousel-inner img {
  width: 100%; /* Make images fill the entire width of the carousel item */
  height: 100%; /* Make images fill the entire height of the carousel item */
  object-fit: cover; /* Preserve the aspect ratio while covering the entire container */
}

   .note { 
    color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    margin-top: 11px;
    margin-right: 48px; 
    text-align: right;
} 

.tagline {
  width: 1000px;
  color: #ffffff; /* Set the text color */
  font-size: 80px; /* Set the font size */
  font-weight: bold; /* Optionally set font weight */
  position: relative;
   /* Adjust the top position as needed */
  left: 60px; /* Adjust the left position as needed */
  z-index: 1000; /* Set a high z-index to ensure it's on top of other elements */
  right: 400px;
  bottom: 96px;
  line-height: 1.2;
}
.second{
  width: 100%;
  background-color: white;
  position: relative;
}
#img6{
  margin-left: 60%;
  margin-top: 5%;
  border-radius: 3%;
  margin-bottom: 80px;
}
.second > div{
  position: absolute;
  top: 15%;
  left: 80px;
  right: 1050px;
  line-height: 1.2;
}
#a2{
  position: relative;
  top: 250px;
  
}
.second button{
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  position: relative;
  top: 470px;
  border-radius: 5px;
  
}
.ps{
  margin-top: 300px;

}
.cls1{
  position: absolute;
  color: grey;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Hedvig Letters Serif', serif;
}
#meet{
  left: 31%;
  bottom: 10px;
}
#ws{
  left: 54%;
  bottom: 10px;
}
#bp{
  left: 81%;
  bottom: 10px;
  width: 110px;
}
#vs{
  left: 117%;
  bottom: 10px;
  width: 100px;
}
#p{
  top: 45px;
}
#om{
  top: 45px;
  left: 18%;
}
#wr{
  top: 45px;
  left: 44%;
}
#g{
  left: 87%;
  top: 45px;
}
#bs{
  
  top: 87px;
  width: 100px;
}
#ce{
  top: 87px;
  width: 130px;
  left: 31%;
}
#fs{
  top: 87px;
  left: 70%;
}
#gp{
  top: 87px;
  left: 98%;
  width: 130px;
}
